.main-editor-container{
    border-bottom: none;
    border-top: none;
    margin-top: 0 !important;
    text-align: center;
    margin-inline: auto;
    /* inline-size: 110ch; */
    inline-size: 96%;
    padding: 0 !important;
}

.main-editor-container.show{
    text-align: left;
}

.editor{
    padding-left: 3rem;
}
