input[type=text]:hover{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;}

input[type=search]:hover{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

input[type=search]{
    width: 100%;
}

.main-container{
    border-top: none !important;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 20% 25% 55%;
    min-height: 100dvh;
}

.aside-ul{
    padding-left: 10px;    
    padding-right: 10px;
    background: var(--bg);
}

.aside-ul > *{
    font-size: var(--font-small-responsive);
}

.aside > ul{
    list-style-type: none;
    text-align: right;
    padding: 0;
}

.aside > ul > li{
    display: flex;
    justify-content: flex-start;
    padding-right: 5px;
    align-items: center;
    margin-top: 10px;
    gap: 2px;
}


.notebook-actions{
}

.create-notebook{
    display: inline-flex;
    justify-content: center;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    transition: 250ms ease-in-out;
}


.create-notebook span:first-of-type {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: var(--font-medium-responsive);
    transition: 250ms ease-in-out;
}

.create-notebook span:first-of-type:hover {
    color: var(--accent);
    cursor: pointer;
}

.create-leaf{
    display: inline-flex;
    justify-content: center;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.create-notleafebook span:first-of-type {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: var(--font-medium-responsive);
    transition: 250ms ease-in-out;
}

.create-leaf span:first-of-type:hover {
    color: var(--accent);
    cursor: pointer;
}

.list-item{
    padding: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    transition: 250ms ease-in-out;
}

.aside > ul > li > .list-item:hover{
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
    border-radius: 10px;
    cursor: pointer;
}

.aside > ul > li > .list-options:hover{
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
    border-radius: 10px;
    cursor: pointer;
}

.list-options{
    padding: 10px;
}

.notes-search{
    display: flex;
    justify-content: center;
    align-items: center;
}

.notes-situation{
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
}

.notes-situation > label{
    font-size: 12px;
    border-radius: 10px;
    padding: 4px;
    transition: 250ms ease-in-out;
}


.notes-situation > .sit-progress{
    border: 1px solid var(--accent);

}

.notes-situation > .sit-not{
    border: 1px solid var(--disabled);

}

.notes-situation > .sit-active{
    border: 1px solid greenyellow;

}

.notes-situation > .sit-progress:hover{
    background-color: var(--accent);
    color: black;
    border-radius: 10px;
    cursor: pointer;
}

.notes-situation > .sit-not:hover{
    background-color: var(--disabled);
    border-radius: 10px;
    cursor: pointer;
}

.notes-situation > .sit-active:hover{
    background-color: greenyellow;
    color: black;
    border-radius: 10px;
    cursor: pointer;
}

.notes-situation > .sit-progress.checked{
    background-color: var(--accent);
    color: black;
    border-radius: 10px;
    cursor: pointer;
    border-color: var(--bg);
}

.notes-situation > .sit-not.checked{
    background-color: var(--disabled);
    border-radius: 10px;
    cursor: pointer;
    border-color: var(--bg);
}

.notes-situation > .sit-active.checked{
    background-color: greenyellow;
    color: black;
    border-radius: 10px;
    cursor: pointer;
    border-color: var(--bg);
}



.notes-filter{
    padding-bottom: 8px;
    border-bottom: 1px solid var(--accent);
}

.note{
    margin-top: 10px;
    border: 1px solid var(--accent);
    padding: 10px;
    border-radius: 10px;
    background-color: var(--bg);
    transition: 250ms ease-in-out;
}

.active-leaf{
    border-width: 4px;
}

.note:hover{
    cursor: pointer;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

.note > h5{
    margin-bottom: 5px;
    margin-top: 0;
}

.note > div{
    display: flex;
    flex-direction: column;
    font-size: 13px;
    font-style: italic;
    margin-top: 5px;
}

.status-active{
    background-color: greenyellow;
    color: black;
    border-radius: 10px;
    font-size: 12px;
    padding: 6px;
}

.status-progress{
    background-color: var(--accent);
    color: black;
    border-radius: 10px;
    font-size: 12px;
    padding: 6px;
}

.status-not-active{
    background-color: red;
    color: black;
    border-radius: 10px;
    font-size: 12px;
    padding: 6px;
}


.border-active{
    border-color: greenyellow;
}

.border-progress{
    border-color: var(--accent);
}

.border-not-active{
    border-color: red;
}

.notes-section{
    padding: 10px;
}

.user-aside{
    border-bottom: 1px solid var(--accent);
    text-align: left;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.user-aside > h6{
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}

.user-aside > button{
    background-color: transparent;
    color: var(--accent);
}

.user-aside > button:hover{
    background-color: transparent !important;
}

.list-subitem{
    display: none;
}

.list-subitem.show {
    display: block;

    -webkit-animation: scale-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.list-subitem > ul > li{
    list-style-type: none;
    margin-right: 14px;
}

.list-subitem > ul{
    padding: 0;
    margin-top: 5px;
}

.notes-search > input{

}

.active-notebook{
    border: 1px solid;
    border-color: var(--accent);    
    border-radius: 10px;
}

.stick-right{
    margin: auto 0 auto auto;
}

.leaf-tags{
    margin-top: 16px;
    margin-left: 16px;
    display: inline-flex;
    gap: 5px;
    font-size: var(--font-small-responsive);
}

.leaf-tags > label{
    border-radius: 10px;
    padding: 4px;
    transition: 250ms ease-in-out;
    cursor: pointer;
}

.leaf-tags > .important{
    border: 1px solid red;
    color: var(--text);
}

.leaf-tags > .not-important{
    border: 1px solid var(--text-light);
    color: var(--text);
}

.leaf-tags > .todo-later{
    border: 1px solid var(--accent-hover);
}


.leaf-tags > .important:hover{
    background-color: red;
}

.leaf-tags > .not-important:hover{
    background-color: var(--text-light);
}

.leaf-tags > .todo-later:hover{
    background-color: var(--accent-hover);
    color: black;
}


/* ----------------------------------------------
 * Generated by Animista on 2024-7-29 20:24:28
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-top
 * ----------------------------------------
 */
 @-webkit-keyframes scale-in-top {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      opacity: 1;
    }
  }
  @keyframes scale-in-top {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      opacity: 1;
    }
  }
