
.aside-actions{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: flex-end;
}

.aside-actions > i {
    font-size: 1.8em;
    transition: 250ms ease-in-out;

}

.aside-data{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.note-item{
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
    transition: 250ms ease-in-out;

}

.main-container{
    border-top: none !important;
    margin: 0;
    padding: 0;
    gap: 1rem;

    display: grid;
    grid-template-columns: 200px 250px 1fr;
}

.sidebar{
    overflow-y: auto;
    padding: 1rem;

    display: flex;
    flex-direction: column;

    gap: 1rem;
    border-right: 1px solid var(--accent);
}

.note-item:hover{
    background-color: var(--accent-bg);
    cursor: pointer;
}

.aside-actions > i:hover{
    color: var(--accent);
    cursor: pointer;
}

#markdown-load-toolbox > div{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    font-size: 1.5em;
    background-color: var(--bg);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    position: sticky;
    padding: 1rem;
}


#markdown-load-toolbox > div > div:hover{
    cursor: pointer;
    background-color: var(--accent-bg);
    border-radius: 20px;
}


:where(doc-menter){
    min-width: 0;
}

.doc-menter-content{
    min-block-size: 50dvh;
    text-align: start;
    white-space: break-spaces;

    &:focus,
    &:active {
        border: none;
        outline: none;
    }
}


:where(.h1, .h2, .h3, .h4, .h5, .h6) {
    font-weight: 800;
    hyphens: auto;
    letter-spacing: -0.02ch;
    line-height: 1.1;
    overflow-wrap: break-word;
    text-wrap: balance;
}

.h1 {
    font-size: 2em;
    display: inline;
}

.h2 {
    font-size: 1.5em;
    display: inline;
}

.h3 {
    font-size: 1.17em;
    display: inline;

}

.h4 {
    font-size: 1em;
    display: inline;
}

.h5 {
    font-size: 0.83em;
    display: inline;
}

.h6 {
    font-size: 0.67em;
    display: inline;
}

:is(p, ul, ol, dl, blockquote, pre, figure, hr) {
    margin-block: 0.65lh;
    overflow-wrap: break-word;
    text-wrap: pretty;
}

:is(pre, code, .pre, .code) {
    background-color: 96% 0.005 96;
    border: 1px solid 75% 0.005 96;
    border-radius: 0.3em;
    font-size: 0.85em;
}

code {
    padding: 0.1em 0.3em;
    white-space: pre-wrap;
}

:is(blockquote, .quote) {
    font-style: italic;
    margin: 0 3ch;

    p {
        hyphens: none;
    }
}

.toolbox-edit-markdown{
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    gap: 1.5rem;
}


#markdown-load-toolbox{
    display: flex;
    justify-content: center;
}
