input[type=text]:hover{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;}

input[type=search]:hover{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

input[type=search]{
    width: 100%;
}

.main-container{
    border-top: none !important;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 20% 25% 55%;
    min-height: 100dvh;
}

.aside-ul{
    padding-left: 10px;    
    padding-right: 10px;
    background: var(--bg);
}

.aside-ul > *{
    font-size: var(--font-small-responsive);
}

.aside > ul{
    list-style-type: none;
    text-align: right;
    padding: 0;
}

.aside > ul > li{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    text-overflow: ellipsis;
}


.notebook-actions{
}

.create-notebook{
    display: inline-flex;
    justify-content: center;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}


.create-notebook span:first-of-type {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: var(--font-medium-responsive);
}

.create-notebook span:first-of-type:hover {
    color: var(--accent);
    transition: 250ms ease-in-out;
    cursor: pointer;
}

.aside > ul > li > .list-item:hover{
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
    border-radius: 10px;
    transition: 250ms ease-in-out;
    cursor: pointer;

}

.aside > ul > li > .list-options:hover{
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
        border-radius: 10px;
    transition: 250ms ease-in-out;
    cursor: pointer;
}

.list-item{
    padding: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.list-options{
    padding: 10px;
}

.notes-search{
    display: flex;
    justify-content: center;
    align-items: center;
}

.notes-situation{
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
}

.notes-situation > span{
    font-size: 12px;
    border-radius: 10px;
    padding: 4px;
}


.notes-situation > .sit-progress{
    border: 1px solid var(--accent);

}

.notes-situation > .sit-not{
    border: 1px solid red;

}

.notes-situation > .sit-active{
    border: 1px solid greenyellow;

}

.notes-situation > .sit-progress:hover{
    background-color: var(--accent);
    color: black;
    border-radius: 10px;
    transition: 250ms ease-in-out;
    cursor: pointer;
}

.notes-situation > .sit-not:hover{
    background-color: red;
    color: black;
    border-radius: 10px;
    transition: 250ms ease-in-out;
    cursor: pointer;
}

.notes-situation > .sit-active:hover{
    background-color: greenyellow;
    color: black;
    border-radius: 10px;
    transition: 250ms ease-in-out;
    cursor: pointer;
}

.notes-filter{
    padding-bottom: 8px;
    border-bottom: 1px solid var(--accent);
}

.note{
    margin-top: 10px;
    border: 1px solid var(--accent);
    padding: 10px;
    border-radius: 10px;
}

.note:hover{
    cursor: pointer;
    transition: 250ms ease-in-out;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

.note > h5{
    margin-bottom: 5px;
    margin-top: 0;
}

.note > div{
    display: flex;
    flex-direction: column;
    font-size: 13px;
    font-style: italic;
    margin-top: 5px;
}

.status-active{
    background-color: greenyellow;
    color: black;
    border-radius: 10px;
    font-size: 12px;
    padding: 6px;
}

.status-progress{
    background-color: var(--accent);
    color: black;
    border-radius: 10px;
    font-size: 12px;
    padding: 6px;
}

.status-not-active{
    background-color: red;
    color: black;
    border-radius: 10px;
    font-size: 12px;
    padding: 6px;
}


.border-active{
    border-color: greenyellow;
}

.border-progress{
    border-color: var(--accent);
}

.border-not-active{
    border-color: red;
}

.notes-section{
    padding: 10px;
}

.user-aside{
    border-bottom: 1px solid var(--accent);
    text-align: left;
    padding-right: 10px;
}

.user-aside > h6{
    margin-top: 20px;
    margin-bottom: 20px;

}

.list-subitem > ul > li{
    list-style-type: none;
    margin-right: 14px;
}

.list-subitem > ul{
    padding: 0;
    margin-top: 0;
}

.notes-search > input{

}

.main-editor-container{
    border-bottom: none;
    border-top: none;
    margin-top: 0 !important;
    text-align: center;
    margin-inline: auto;
    /* inline-size: 110ch; */
    inline-size: 96%;
    padding: 0 !important;
}